h5 {
    font-family:"Lucida Console";
    color: blueviolet;
   
}

h6 {
    font-family:"Lucida Console";
    color: orange;
   
}

h7 {
    font-family:"Lucida Console";
    color: orange;
   
}

h8 {
    font-family:"Lucida Console";
    color: blueviolet;
   
}






body {background-color: papayawhip;}