h1 {
    font-family:"Lucida Console";
    color: blueviolet;
   
}

h2 {
    font-family:"Lucida Console";
    color: blueviolet;
   
}

h3 {
    font-family:"Lucida Console";
    color: blueviolet;
   
}

h4 {
    font-family:"Lucida Console";
    color: blueviolet;
   
}



img{
  border-radius: 8px;
}


body {background-color: papayawhip;}




